<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Cadastro de Funcionário</h1>
        </div>
    </div>

    <form>
        <div class="col-lg-7">
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioNome">Nome:</label>
                    <input type="text" class="form-control" id="funcionarioNome">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioCPF">CPF:</label>
                    <input type="text" class="form-control" id="funcionarioCPF">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioRG">RG:</label>
                    <input type="text" class="form-control" id="funcionarioRG">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioCNH">CNH:</label>
                    <input type="text" class="form-control" id="funcionarioCNH">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioCarteira">Carteira de Trabalho:</label>
                    <input type="text" class="form-control" id="funcionarioCarteira">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioNascimento">Data de Nascimento:</label>
                    <input type="date" class="form-control" id="funcionarioNascimento">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Sexo:</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Masculino</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Feminino</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioEndereço">Endereço:</label>
                    <input type="text" class="form-control" id="funcionarioEndereço">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioTelefone">Telefone:</label>
                    <input type="text" class="form-control" id="funcionarioTelefone">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioEmail">Email:</label>
                    <input type="email" class="form-control" id="funcionarioEmail">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioCargo">Cargo:</label>
                    <input type="text" class="form-control" id="funcionarioCargo">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioSalario">Salário:</label>
                    <input type="number" class="form-control" id="funcionarioSalario">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioBanco">Banco:</label>
                    <input type="text" class="form-control" id="funcionarioBanco">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioAgencia">Agência:</label>
                    <input type="text" class="form-control" id="funcionarioAgencia">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="funcionarioCC">Número da Conta Bancária:</label>
                    <input type="text" class="form-control" id="funcionarioCC">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <button class="btn">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>
