<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Consulta de Clientes</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Buscar" ng-model="consultaClienteSearch"/>
            </div>
        </div>
    </div>
    <div class="row list-spacer">
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="client in mockedClientList | filter: clientSearch">{{client}}</li>
            </ul>
        </div>
    </div>
</div>
